
html, body {
  width: 100%; 
  height:100%; 
  overflow:hidden;
}

#vid{
  position: absolute;
  top: 0%; 
  left: 0%;
  width: 105%; 
  height: 104%; 
  z-index: -1000; 
  object-fit: cover;
}

.play{
  margin-left: 40rem;
}

.interfaceContainer{
  width: 98%;
  height: 97vh;
  display: flex;
  border: 10px red solid;
  justify-content: space-around;
  flex-direction: row;
}

.radioContainer{
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  margin-right: 30px;
  width: 25vw;
}

.radioStations{
  width: 99%;
  height: 70%;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.radioControl{
  width: 40%;
  height: 99%;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
}



.logo{
  width: 99%;
  height: 10%;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.subHeading{
  width: 99%;
  height: 7%;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-bottom: 2rem;
}


.pomodoroTimerContainer{
  width: 15vw;
  height: 99%;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-right: 30px;
}

.timer{
  width: 99%;
  height: 10vh;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.audioControlContainer{
  height: 100%;
  width: 26vw;
  border: white 5px solid;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-right: 30px;
}

.audioControl{
  width: 99%;
  height: 10vh;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.songName{
  width: 100%;
  height: 99%;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.otherSounds{
  width: 100%;
  height: 10%;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.time{
  width: 100%;
  height: 20%;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.infoContainer{
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  margin-right: 30px;
  width: 25vw;
}