
html, body {
  width: 100%; 
  height:100%; 
  overflow:hidden;
}

#vid{
  position: absolute;
  top: 0%; 
  left: 0%;
  width: 105%; 
  height: 104%; 
  z-index: -1000; 
  object-fit: cover;
}

.play{
  margin-left: 40rem;
}

.interfaceContainer{
  width: 98%;
  height: 97vh;
  display: flex;
  border: 10px red solid;
  flex-direction: row;
  justify-content: space-between;
}

.radioContainer{
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  width: 15vw;
}

.radioStations{
  width: 99%;
  height: 70%;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.radioControl{
  width: 40%;
  height: 99%;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
}



.logo{
  width: 99%;
  height: 10%;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.subHeading{
  width: 99%;
  height: 7%;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-bottom: 2rem;
}


.pomodoroTimerContainer{
  width: 15vw;
  height: 99%;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  
}

.timer{
  width: 99%;
  height: 10vh;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.audioControlContainer{
  height: 100%;
  width: 40vw;
  border: white 5px solid;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: -20px;
}

.audioControl{
  width: 99%;
  height: 10vh;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.songName{
  width: 100%;
  height: 99%;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.otherSounds{
  width: 100%;
  height: 10%;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.time{
  width: 100%;
  height: 20%;
  border: 5px white solid;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.infoContainer{
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  width: 25vw;
}

.goBackBtn{
  border: #c7c7c7 1px solid;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-top: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  margin-right: 6px;
}

.audioImgSize{
  width: 20px;
  height: 20px;
  margin-left: -1px;
  filter: invert(92%) sepia(0%) saturate(0%) hue-rotate(222deg) brightness(97%) contrast(86%);
}

.goFowardBtn{
  border: #c7c7c7 1px solid;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-top: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;margin-left: 6px;
  margin-right: 6px;
}

.PlayPause{
  border: #c7c7c7 1px solid;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  margin-right: 6px;
}

.volume{
  border: #c7c7c7 1px solid;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-top: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;margin-left: 6px;
  margin-right: 6px;
}

.volumeDial{
  border: #c7c7c7 1px solid;
  height: 1px;
  -webkit-appearance: none;
  width: 100px;
  margin-top: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;margin-left: 6px;
  margin-left: 3px;
  border-radius: 30px;
  background-color: #C0C0C0;
}

.volumeDial:hover{
  background-color: white;
}

.volumeDial::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #c7c7c7; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.volumeDial::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #c7c7c7;
  cursor: pointer;
  border: 1px solid whitesmoke;
}

.volumeDial::-webkit-slider-thumb:hover{
  background-color: white;
}

.playBtn{
  width: 30px;
  height: 30px;
  margin-left: 6px;
  filter: invert(82%) sepia(0%) saturate(0%) hue-rotate(222deg) brightness(97%) contrast(86%);
}